'name': 'Povray'
'scopeName': 'source.povray'
'fileTypes': [
  'pov'
  'inc'
]
'patterns': [
  {
    'include': '#number'
  }
  {
    'include': '#string_single'
  }
  {
    'include': '#string_double'
  }
  {
    'include': '#operator'
  }
  # comments --------------------------------------------------------
  {
    'match': '^/\\* =(\\s*.*?)\\s*= \\*/$\\n?'
    'name': 'comment.block.povray'
  }
  {
    'begin': '/\\*'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.comment.begin.c'
    'end': '\\*/'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.comment.end.c'
    'name': 'comment.block.povray'
  }
  {
    'match': '(?<!\\$)(//)(?!\\{).*$\\n?'
    'name': 'comment.line.number-sign.povray'
  }
  # keyword ---------------------------------------------------------
  {
    'name': 'keyword.povray'
    'match': '\\b(\
      array|ascii|\
      break|\
      camera|case|charset|\
      debug|declare|default|\
      else|end|error|\
      fclose|fopen|function|\
      global_settings|\
      if|ifdef|iff|ifndef|include|internal|\
      light_source|local|\
      macro|\
      object|open|\
      pattern|photons|\
      radiosity|range|render|\
      statistics|switch|sys|\
      t|\
      u|undef|utf8|\
      v|version|\
      warning|while|\
      x|\
      y|\
      z\
    )\\b'
  }
  # variable.parameter ----------------------------------------------
  {
    'name': 'variable.parameter.povray'
    'match': '\\b(\
      aa_level|aa_threshold|absorption|accuracy|adaptive|adc_bailout|agate_turb|all|\
        all_intersections|alpha|altitude|always_sample|ambient|ambient_light|angle|aperture|\
        append|arc_angle|area_light|assumed_gamma|autostop|\
      b_spline|bezier_spline|black_hole|blur_samples|brick_size|brightness|brilliance|bump_size|\
      caustics|circular|collect|component|composite|confidence|conic_sweep|conserve_energy|\
        control0|control1|coords|count|crand|cubic_spline|cubic_wave|cutaway_textures|\
      density_file|df3|diffuse|direction|dispersion|dispersion_samples|dist_exp|distance|\
        double_illuminate|\
      eccentricity|emission|error_bound|evaluate|expand_thresholds|exponent|exterior|extinction|\
      fade_color|fade_colour|fade_distance|fade_power|falloff|falloff_angle|filter|fisheye|\
        flatness|flip|focal_point|fog_alt|fog_offset|fog_type|form|frequency|fresnel|\
      gather|global_lights|gray_threshold|\
      hf_gray_16|hierarchy|hypercomplex|hollow|\
      inside_vector|interpolate|intervals|inverse|ior|irid_wavelength|\
      jitter|\
      lambda|linear_spline|linear_sweep|load_file|location|look_at|low_error_factor|\
      major_radius|map_type|max_gradient|max_intersections|max_iteration|max_sample|max_trace|\
        max_trace_level|media_attenuation|media_interaction|metallic|method|metric|\
        minimum_reuse|mortar|\
      natural_spline|nearest_count|no_bump_scale|no_image|no_reflection|no_shadow|\
        noise_generator|number_of_waves|\
      octaves|offset|omega|omnimax|once|orient|orientation|orthographic|\
      panoramic|parallel|pass_through|perspective|phase|phong|phong_size|point_at|poly_wave|\
        precision|precompute|pretrace_end|pretrace_start|\
      quadratic_spline|quaternion|quick_color|quick_colour|\
      radius|ramp_wave|ratio|read|recursion_limit|reflection|reflection_exponent|refraction|\
        repeat|right|roughness|\
      samples|save_file|scale|scallop_wave|shadowless|sine_wave|size|sky|slice|smooth|solid|\
        spacing|specular|split_union|spotlight|strength|sturm|\
      target|thickness|threshold|tightness|tile2|tiles|tolerance|transmit|triangle_wave|ttf|\
        turb_depth|turbulence|type|\
      u_steps|ultra_wide_angle|up|use_alpha|use_color|use_colour|use_index|uv_mapping|\
      v_steps|variance|\
      water_level|width|write\
    )\\b'
  }
  # entity.name.class -----------------------------------------------
  {
    'name': 'entity.name.class.povray'
    'match': '\\b(\
      agate|average|\
      background|bicubic_patch|blob|box|boxed|bozo|brick|bumps|\
      cells|checker|cone|crackle|cubic|cylinder|cylindrical|\
      dents|disc|\
      facets|fog|\
      gradient|granite|\
      height_field|hexagon|\
      irid|isosurface|\
      julia|julia_fractal|\
      lathe|leopard|\
      magnet|mandel|marble|\
      onion|\
      parametric|planar|plane|poly|polygon|prism|\
      quadric|quartic|quilted|\
      radial|rainbow|ripples|\
      sky_sphere|slope|smooth_triangle|sor|sphere|sphere_sweep|spherical|spiral1|spiral2|\
        spline|spotted|superellipsoid|\
      text|toroidal|torus|triangle|\
      waves|wood|wrinkles\
    )\\b'
  }
  # entity.name.function --------------------------------------------
  {
    'name': 'entity.name.function.povray'
    'match': '\\b(\
      bounded_by|bump_map|\
      clipped_by|color_map|colour_map|contained_by|\
      density|density_map|difference|\
      finish|face_indices|\
      image_map|image_pattern|interior|interior_texture|intersection|\
      light_group|looks_like|\
      material|material_map|media|mesh|mesh2|merge|\
      normal|normal_indices|normal_map|normal_vectors|\
      pigment|pigment_map|pigment_pattern|projected_through|\
      scattering|slope_map|\
      texture|texture_list|texture_map|transform|\
      union|uv_indices|uv_vectors|\
      vertex_vectors|\
      warp|
    )\\b'
  }
  # support.function ------------------------------------------------
  {
    'name': 'support.function.povray'
    'match': '\\b(\
      abs|acos|acosh|asc|asin|asinh|atan|atanh|atan2|\
      ceil|chr|concat|cos|cosh|color|colour|cube|\
      defined|degrees|dimensions|dimension_size|div|\
      exp|\
      file_exists|floor|\
      inside|int|\
      ln|log|\
      matrix|max|max_extent|min|min_extent|mod|\
      pow|prod|pwr|\
      radians|rand|reciprocal|rgb|rgbf|rgbft|rgbt|rotate|\
      seed|select|sin|sinh|sqr|sqrt|str|strcmp|strlen|strlwr|strupr|substr|sum|\
      tan|tanh|trace|translate|\
      val|vaxis_rotate|vcross|vdot|vlength|vnormalize|vrotate|vstr|vturbulence\
    )\\b'
  }
  # storage ---------------------------------------------------------
  {
    'name': 'storage.povray'
    'match': '\\b(\
      clock|clock_delta|clock_on|\
      blue|\
      false|final_clock|final_frame|frame_number|\
      gif|gray|green|\
      initial_clock|initial_frame|image_width|image_height|\
      jpeg|\
      no|\
      off|on|\
      pi|pgm|png|pot|ppm|\
      red|\
      tga|tiff|true|\
      yes\
    )\\b'
  }
]
# -------------------------------------------------------------------
# global definitions ------------------------------------------------
'repository':
  'number':
    'match': '(?x:-?(?:0|[1-9]\\d*)(?:\\.\\d+(?:[eE][+-]?\\d+)?)?)'
    'name': 'constant.numeric.povray'
  'string_double':
    'begin': '"'
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.povray'
    'end': '"'
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.povray'
    'name': 'string.quoted.double.povray'
    'patterns': [
      {
        'match': '\\[\\$`"\\\\\n]'
        'name': 'constant.character.escape.povray'
      }
    ]
  'string_single':
    'begin': "'"
    'beginCaptures':
      '0':
        'name': 'punctuation.definition.string.begin.povray'
    'end': "'"
    'endCaptures':
      '0':
        'name': 'punctuation.definition.string.end.povray'
    'name': 'string.quoted.single.povray'
  'operator':
    'match': '\\s*(\\+|-|\\*|<=|=|>=|!=)\\s*' # TODO: /,<,>
    'name': 'keyword.operator.povray'
